.git
.github
.gstack
.husky
.local
.pnpm-store
.vscode

**/node_modules
**/dist
coverage
runtime/node_modules

**/.DS_Store
**/.env
**/.env.*
!**/.env.template

*.log
Dockerfile
docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml
